In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
import warnings
import json

warnings.filterwarnings('ignore')

In [ ]:
import sys
sys.path.append("../scripts/")
from data_cleaner import DataCleaner
from util import Util

In [ ]:
util = Util()
cleaner = DataCleaner()

# News

In [ ]:
repo="https://github.com/Nathnael12/prompt-engineering.git"
news_df=util.read_from_dvc("data/news.csv",repo,"news-v0",low_memory=False)

# news_df=util.read_from_file('../data/news.csv')

In [ ]:
print(news_df.shape)
news_df.head()

In [ ]:
news_df.columns

In [ ]:
news_df.describe()

we have three numerical columns here, according to the given task, we are required to give score in the range of 0 - 10 so we will use analyst_average score for training

In [ ]:
# make a little rearrange of columns

temp = news_df['Analyst_Average_Score']
news_df.drop('Analyst_Average_Score',axis=1,inplace=True)
news_df['Analyst_Average_Score']=temp
news_df.head()

In [ ]:
news_df.plot(kind='bar')

In [ ]:
cleaned_df=cleaner.clean_links(news_df,['Body'])
cleaned_df=cleaner.clean_symbols(cleaned_df,['Body','Description','Title'])
cleaned_df=cleaner.convert_to_datetime(cleaned_df,['timestamp'])
cleaned_df.head(5)

In [ ]:
# uncomment this for first run only
# cleaned_df.to_csv('../data/news.csv',index=False)

# Job Description

In [3]:
job_df=pd.read_json("../data/job_description_train.json")
job_df_train=job_df.copy()

In [4]:
job_df_train.head()

,document,tokens,relations
0,Bachelor's degree in Mechanical Engineering or...,"[{'text': 'Bachelor', 'start': 0, 'end': 8, 't...","[{'child': 4, 'head': 0, 'relationLabel': 'DEG..."
1,10+ years of software engineering work experie...,"[{'text': '10+ years', 'start': 0, 'end': 9, '...","[{'child': 4, 'head': 0, 'relationLabel': 'EXP..."
2,3+ years Swift & Objective-C and experience wi...,"[{'text': '3+ years', 'start': 0, 'end': 8, 't...","[{'child': 3, 'head': 0, 'relationLabel': 'EXP..."
3,8+ years experience in software engineering le...,"[{'text': '8+ years', 'start': 0, 'end': 8, 't...","[{'child': 5, 'head': 0, 'relationLabel': 'EXP..."
4,BS degree in Computer Science or related field...,"[{'text': 'BS', 'start': 0, 'end': 2, 'token_s...","[{'child': 3, 'head': 0, 'relationLabel': 'DEG..."

In [7]:
job_df_train.isna().sum()

document     0
tokens       0
relations    0
dtype: int64